@media screen and (min-width: 700px){
    .mobiledis{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .fullscreen, .midscreen, .fa-share-alt{
      font-size: 21px;
    }
    .fullscreen, .midscreen{
      right: 5px;
    }
    .fa-share-alt{
      left: 7px;
      bottom: 58px;
    }
    .mobiledis{
        display: block;
    }
    menu > a > h2, menu ul li p{
        display: none;
    }
    menu ul li {
        width: 14.3%;
    }
    .rightmenu{
        display: none;
        position: fixed;
        top: 50px;
        width: 210px;
        height: max-content;
        z-index: 3;
        box-shadow: 0px 3px 4px 3px rgba(100, 100, 100, .2);
        border-radius: 10px;
      }
    .rightmenu.show{
        display: block;
        right: 7px;
    }
    .rightmenu > .appd{
        margin: 0px 15px;
    }
    .radiogrid {
        position: relative;
        grid-template-columns: repeat(auto-fill,minmax(110px,0fr));
        display: grid;
        left: 50%;
        transform: translate(-50%, -0%);
        margin: 0px;
    }
    .rb {
        height: 150px;
        width: 110px;
    }
    .rb img, .rb > a > img{
        width: 100px;
        height: 100px;
        margin: 0px;
    }
    .rb > h2 {
        top: 110px;
        margin: 0px;
    }
  #searchInput, #filterloca{
    width: 145px;
  }
  #searchInput, .filter-tag{
    margin-right: 1px;
  }
  .addbox{
    transform: translate(-50%, 0%);
    left: 50%;
    width: 300%;
  }
  .musbox{
    top: 400px;
  }
  h2{
    font-size: 20px;
  }
  .sharepopup{
    width: 95%;
  }
}
